*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

h2{
	font-size: 40px;
}
table{
	letter-spacing: 1.2px;
}
td{
	text-align: center;
}
button{
	border:none;
	background: #7b7de0;
    transition: 1s;
}
/*button{
	transition: 1s; 
	font-weight:bold;
	background-color: #7b7de0;
  }
  /*button:hover{
	color: white;
	font-weight:bold;
	background-color: #42c25e;
  }*/
@media only screen and (orientation: portrait){
	*{
		letter-spacing: 1px;
	}
}
